.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    background-color: white;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 50px;
  }
  
  .message {
    color: #a3a3a3;
    font-size: 14px;
    margin-top: 4px;
    text-align: center
  }
  
  .inputs {
    margin-top: 10px
  }
  
  .inputs input {
    width: 200px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    margin: 0 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .inputs input:focus {
    border-bottom: 1.5px solid #1d1b31;
    outline: none;
  }
  
  .action {
    margin: 24px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: #1d1b31;
    color: white;
    cursor: pointer;
    align-self: end;
  }

  dialog::backdrop{
    background-color: hsl(200, 100%, 50%, 0.5);
}

.mycard{
    margin-left: 50%;
    margin-top: 200px;
    border-radius: 12px;
    padding: 20px;
    border: none;
}